@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-cormorant);
  --color-accent: #C2A878;
}

:root {
  --background: #F9F8F6;
  --foreground: #1C1A17;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

/* Custom Text Selection */
::selection {
  background: var(--color-accent);
  color: var(--background);
}

/* Hide Scrollbar */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Utilities */
.heading-underline {
  position: relative;
  display: inline-block;
}

.heading-underline::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 60px;
  height: 2px;
  background-color: var(--color-accent);
}

.heading-underline-center::after {
  left: 50%;
  transform: translateX(-50%);
}
